---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

$baseurl: "{{ site.baseurl }}";
$header-height: 60px;
$base-font-size: 20px;
$side-nav-width: 280px;
$menu-breakpoint: 700px;
$reading-width: 800px;

// Import partials from `sass_dir` (defaults to `_sass`)
@import
		"base",
		"example",
		"footer",
		"header",
		"home",
		"layout",
		"note",
		"paint-chip",
		"side-nav",
		"syntax-highlighting",
		"wcag"
;
