<footer class="site-footer">
	<div class="site-footer-wrapper">
		<hr />
		<p>
			The D2L family of companies includes D2L Corporation, D2L Ltd, D2L Australia Pty Ltd, D2L Europe Ltd, D2L Asia Pte. Ltd., <br />and D2L Brasil Solu&ccedil;&otilde;es de Tecnologia para Educa&ccedil;&atilde;o Ltda.<br />
			<br />
			Copyright &copy; 2017 D2L Corporation. All rights reserved.<br />
			<a href="http://www.d2l.com/about/" target="_blank">About D2L</a>&nbsp;|&nbsp;<a href="http://www.d2l.com/legal/privacy/" target="_blank" class="importantlink">Privacy Statement</a>&nbsp;|&nbsp;<a href="http://www.d2l.com/legal/terms/" target="_blank" class="importantlink">Terms of Use</a>
		</p>
	</div>
</footer>
