<h3>Show me the code!</h3>
<p style="background-image:url({{ site.baseurl }}images/github-logo.png);background-repeat: no-repeat;padding-left: 75px; background-position: 0 center; min-height: 64px;">
	Want to see, contribute or learn more about the code?<br />
	<a href="https://github.com/{{ include.name }}" target="_blank">Check out "{{ include.name }}" on GitHub!</a>
</p>
<p>
	More information on developing with
	Brightspace UI components can be found in the
	<a href="{{ site.baseurl }}developers/use-components/">Developer Guide</a>.
</p>
