@import '../bower_components/d2l-colors/d2l-colors.scss';

html {
	font-size: $base-font-size;
}

figure {
	margin: 0;
	padding: 0;
}

/**
 * Basic styling
 */
body {
	background-color: $d2l-color-white;
	margin: 0;
	padding: $header-height 0 0 0;
}

hr {
	border-top: none;
	border-bottom: 1px solid $d2l-color-titanius;
}

blockquote {
	border-left: 4px solid $d2l-color-titanius;
	margin-left: 0;
	padding-left: 1rem;
}
