.site-footer {
	padding-left: $side-nav-width;
}
.site-footer-wrapper {
	font-size: .7rem;
	margin: 1rem;
	text-align: center;
}
@media(max-width: $menu-breakpoint) {
	.site-footer {
		padding-left: 0;
	}
}
