.note, .important, .accessibility {
	border-left-style: solid;
	border-left-width: 4px;
	margin: 1.5rem 0;
	padding-left: 1rem;
	.note-title {
		font-weight: bold;
		margin-bottom: -1rem;
	}
}

.note {
	border-left-color: $d2l-color-celestine-minus-1;
	.note-title {
		color: $d2l-color-celestine-minus-1;
	}
}

.important {
	border-left-color: $d2l-color-cinnabar;
	.note-title {
		color: $d2l-color-cinnabar;
	}
}

.accessibility {
	border-left-color: $d2l-color-olivine;
	.note-title {
		color: $d2l-color-olivine;
	}
}
