.paint-chip {
	border: 1px solid $d2l-color-titanius;
	border-radius: 0.8rem;
	box-shadow: 0 1px 3px rgba(86,90,92,.1);
	display: inline-block;
	font-size: 0.8rem;
	margin: 0 1rem 1rem 0;
	padding: 5px;
	text-align: center;
	width: 175px;
}
