.paint-chip-group-2 {
	.paint-chip-group-item {
		width: 49%;
	}
}
.paint-chip-group-4 {
	.paint-chip-group-item {
		width: 24%;
	}
}

@media(max-width: 1100px) {
	.paint-chip-group-4 {
		.paint-chip-group-item {
			width: 49%;
		}
	}
}
@media(max-width: 500px) {
	.paint-chip-group-2, .paint-chip-group-4 {
		.paint-chip-group-item {
			padding-right: 0;
			width: 100%;
		}
	}
}

.paint-chip-group-item {
	display: inline-block;
	box-sizing: border-box;
	padding-right: 10px;
	h4 {
		margin-top:0;
		margin-bottom:0.5rem;
	}
}

.paint-chip {
	border-radius: 0.2rem;
	box-sizing: border-box;
	display: inline-block;
	font-size: 0.8rem;
	margin-bottom: 10px;
	padding: 10px;
	width: 100%;
}

.paint-chip-name {
	float: left;
}

.paint-chip-hex {
	float: right;
	text-transform: uppercase;
}
