.wcag {
	background-position-y: center;
	background-repeat: no-repeat;
	display: block;
	min-height: 31px;
	padding-left: 105px;
}
.wcag-a {
	background-image: url($baseurl + "images/wcag2-a.png");
}
.wcag-aa {
	background-image: url($baseurl + "images/wcag2-aa.png");
}
.wcag-aaa {
	background-image: url($baseurl + "images/wcag2-aaa.png");
}
